*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
.fcontainer{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: aqua;
}
 .fitem{
    background-color:aquamarine ;
    padding: 10px;
    border: 2px solid black;
} 
.navbar, .footer, .copyright {
grid-column-start:1 ;
grid-column-end:4 ;
}
    
/* }
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item2{
    grid-row-start: ;
    grid-row-end: ;
} */